.unique_post .post_info .post_author .post_author_avatar img, .unique_post .post_thumbail img, .details_post .myPost .post_thumbail img, .details_post .myPost .post_author .post_author_avatar img {
  width: 100%;
  height: 100%;
  background-repeat: none;
  background-size: contain;
}

.details_post {
  background-color: #1c1d5f;
  padding: 8rem 0;
}
.details_post .myPost {
  width: 40%;
  margin: auto;
  background-color: #2a286b;
  padding: 25px;
}
@media (max-width: 992px) {
  .details_post .myPost {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .details_post .myPost {
    width: 90%;
  }
}
.details_post .myPost .post_title a {
  font-size: 2.7rem;
  font-weight: bold;
  color: #fff !important;
}
.details_post .myPost .post_author {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0rem;
  margin-top: 1.2rem;
}
.details_post .myPost .post_author .post_author_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details_post .myPost .post_author .post_author_avatar img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 30%;
}
.details_post .myPost .post_author .post_author_info {
  width: 80%;
  height: 100%;
  padding: 10px;
}
.details_post .myPost .post_author .post_author_info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.details_post .myPost .post_author .post_author_info ul li {
  color: #fff;
}
.details_post .myPost .post_author .post_author_info ul li:nth-child(2) {
  color: rgba(255, 255, 255, 0.3803921569);
}
.details_post .myPost .post_thumbail {
  width: 100%;
  height: 20rem;
  margin-bottom: 1.6rem;
}
.details_post .myPost .post_thumbail img {
  filter: saturate(1);
  transform: filter 0.5s ease;
}
.details_post .myPost .post_thumbail img:hover {
  filter: saturate(0);
}
.details_post .myPost .post_info .post_body {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4784313725);
  margin-top: 10px;
  margin-bottom: -4px;
}

.unique_post {
  width: 80% !important;
  overflow: hidden;
  margin: auto;
  margin-bottom: 2.6rem;
}
.unique_post .post_thumbail {
  height: 100%;
  border: 1rem solid #1c1d5f;
  border-top-left-radius: 70px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 70px;
  height: 100%;
}
.unique_post .post_thumbail img {
  filter: saturate(1);
  transform: filter 0.5s ease;
  border-top-left-radius: 55px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 55px;
}
.unique_post .post_thumbail img:hover {
  filter: saturate(0);
}
.unique_post .post_info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 100%;
  gap: 0.3rem;
  padding: 0 !important;
}
.unique_post .post_info .categroy_button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #1c1d5f;
  border-radius: 5px;
  color: #6f6af8;
  font-size: 0.8rem;
  text-align: center;
  transition: 0.4s;
}
.unique_post .post_info .categroy_button:hover {
  color: #f2f2fe;
}
.unique_post .post_info .post_title a {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff !important;
}
.unique_post .post_info .post_body {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.4784313725);
  margin: 0;
}
.unique_post .post_info .post_author {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.unique_post .post_info .post_author .post_author_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.unique_post .post_info .post_author .post_author_avatar img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.unique_post .post_info .post_author .post_author_info {
  width: 80%;
  height: 100%;
  padding: 10px;
}
.unique_post .post_info .post_author .post_author_info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unique_post .post_info .post_author .post_author_info ul li {
  color: #fff;
}
.unique_post .post_info .post_author .post_author_info ul li:nth-child(2) {
  color: rgba(255, 255, 255, 0.3803921569);
}/*# sourceMappingURL=ShowPostSyles.css.map */